* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --colorOne: rgb(134, 142, 153);
  --colorTwo: rgb(43, 43, 43);
}

body {
  background: rgb(134, 142, 153);
  overflow: hidden;
}

nav {
  padding: 25px 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  font-family: Arial, Helvetica, sans-serif;
  gap: 25px;
}

nav ul {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  gap: 35px;
  flex-direction: row-reverse;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--colorTwo);
  outline-color: currentColor;
  font-style: italic;
  letter-spacing: 0.15rem;
  cursor: default;
}

.container{
  max-width: 300px;
  margin-inline: auto;
}

.calculator{
  margin-inline: auto;
  display: grid;
  padding: 0.7rem;
  border-radius: 7.5px ;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  background-color: var(--colorTwo);
  > input[type="text"] { grid-column: 1 / -1; text-align: right }
  > input[type="button"]:not(:last-child) { aspect-ratio: 1 / 1 }
  > input[type="button"]:last-child { grid-column-end: span 2}
}

input {
  background-color: var(--colorTwo);
  box-shadow: 0px 0px 5px rgb(127 127 127 / 50%);  
  border: none;
  outline: none;
  border-radius: 0.6rem;
  color: #fff;
}

input[name="display"] {
  background-color: rgb(134, 142, 153);
  box-shadow: none;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0 0.5rem;
  color: rgb(255, 255, 255);
}

.operator, .equal {
  color: rgb(139, 255, 139);
}
